<p style="color: green"><%= notice %></p>

<h1>Annonces</h1>

<div id="annonces">
  <% @annonces.each do |annonce| %>
    <%= render annonce %>
    <p>
      <%= link_to "Show this annonce", annonce %>
    </p>
  <% end %>
</div>

<%= link_to "Se déconnecter", destroy_user_session_path, method: :delete %>

<%= link_to "New annonce", new_annonce_path data: { turbo_frame: "_form" } %>
